@import url('https://fonts.googleapis.com/css?family=Nunito:300');

//global variables
$grey: #bdc3c7;
$black: black;
$white: white;
$cream: #F6EDE9;
$lavendar: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
$background: linear-gradient(to bottom, $white 0%, $white 50%, $grey 50%, $grey 100%);

//general classes
%center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
* {
    color: $black;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
    text-decoration: none;
    list-style: none;
    line-height: 2;
}
.icon {
    width: 20px;
    height: 20px;
}
.icon-small {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
}
.dp {
    height: 150px;
    width: 150px;
}

// loader
.loader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            width: 100px;
        }
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// nav
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: $white;
    box-shadow: 0 3px 2px -2px $grey;
    transition: top 0.3s;
    li {
        padding: 25px; 
    }
}

//effects
a:visited {
    color: $black;
}

//pages
//home
#home { 
    background-color: $white;
    background-image: linear-gradient(to bottom, $grey 0%, #eef1f5 100%);
    height: 100vh;
    .home-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .dp {
            border-radius: 50%;
            border: 2px solid $white;
        }
        .social {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .social li:hover {
            background-color: $white;
        }
    }
}

.album-item {
    margin: 10px;
    border-radius: 4mm;
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.one {
    background-image: url("../resources/nepal3.jpg");
}
.two {
    background-image: url("../resources/india.jpg");
}
.three {
    background-image: url("../resources/hanoi.jpg");
}

//work 
#me {
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    align-content: center;
    text-align: center;
    height: 100vh;
        }
#projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
        }
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
    div {
            padding: 5px;
    }
}
.t img {
    border: 2px solid $white;
}
.input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $grey;
    resize: none;
}

.text {
    width: 100px;
}

.interests {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}
.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-item {
    width: 200px;
    border-radius: 35px;
}

.languages {
    display: flex;
    width: 50vw;
    justify-content: space-between;
}

//hover animations -hover.css
 /* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    border-radius: 4px;
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: $grey;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
  
  //media queries
  @media only screen and (min-width: 768px) {
    .dp {
        height: 200px;
        width: 200px;
    }
    .album-item {
        margin: 20px;
        height: 150px;
        width: 150px;
    }
}