// @import url("https://fonts.googleapis.com/css?family=Nunito:300");

// // global variables 
// $box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
// $grey: grey;
// $white: white;
// $cream: #FAF0E6;
// $purple: #9795f0;
// $black: #202634;

// // .grey {
// //     color: $grey;
// // }
// // .white {
// //     color: $white;
// // }
// // .italics {
// //     font-style: italic;
// // }

// // // extends
// // // %page {
// // //     height: 100vh;
// // //     padding: 20px;
// // //     box-sizing: border-box;
// // //     position: relative;
// // // }
// %center {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
// }
// // // %album {
// // //     position: absolute;
// // //     top: 50%;
// // //     left: 50%;
// // // }

// // .glow:hover {
// //     box-shadow: 0 0 0 2px grey;
// // }

// // body {
// //     color: black;  
// //     font-family: 'Nunito', sans-serif; 
// //     box-sizing: border-box;
// // }

// nav {
//     display: flex;
//     justify-content: space-evenly;
//     position: fixed;
//     width: 100%;
//     z-index: 99;
//     background-color: $white;
//     box-shadow: 0 3px 2px -2px gray;
//     color: $white;
//         a {
//             text-decoration: none;
//             font-weight: 900;
//         }
//         a:visited {
//             color: purple;
//         }
//         .underline::after {
//                 content: '';
//                 width: 0px;
//                 height: 2px;
//                 display: block;
//                 transition: width 0.3s;
//                 border-radius: 2px;
//                 background-color: $white;
//                 // background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
//         }
//         .underline:hover::after {
//                 width: 100%;
//                 transition: width 0.3s;
//             }
//         }
// // h1 {
// //     letter-spacing: 4px;
// // }
// // h2, h3 {
// //     text-align: center;
// //     margin: 0px;
// //     letter-spacing: 4px;
// //     }

// // .line {
// //     text-align: center;
// //     border: 1px solid;
// //     border-radius: 5px;
// //     width: 30px; 
// //     height: 0px;
// //     position: relative;
// //     left: 50%;
// //     transform: translatex(-50%);
// // }

// #home {
//     background-image: linear-gradient(to bottom, #9795f0 0%, #fbc8d4 100%);
//     height: 100vh;
//         .banner {
//             @extend %center;
//             text-align: center;
//         }
//             .dp {
//                 background-image: url("../resources/banner.jpg");
//                 background-size: cover;
//                 background-position: center;
//                 height: 150px;
//                 width: 150px;
//                 border-radius: 50%;
//                 margin: auto;   
//                 border: 4px solid white;
//             }
//             .socialmedia {
//                 display: flex;
//                 .socialmedia-item {
//                     display: block;
//                     margin: auto;
//                     height: 25px;
//                     width: 25px;
//                     border-radius: 50%;
//                 }
//             }
//         }

// //     // #aboutme {
// //     //     // @extend %page;
// //     //     background-color: #FAF0E6;      
// //     //     // background-color:  #FFEFD5;
// //     //     .aboutme-container {
// //     //         @extend %center;
// //     //         padding: 50px;
// //     //         box-shadow: $box-shadow;
// //     //         // border: 1px solid black;
// //     //         background: #9795f0;
// //     //         border-radius: 2%;
// //     //     }
// //     //     .aboutme {  
// //     //         text-align: center;
// //     //         color: black;  
// //     //     }
// //     //     .album {
// //     //         display: grid;
// //     //         grid-template-columns: repeat(2, 1fr);
// //     //         grid-gap: 50px;
// //     //         justify-items: flex-end;
// //     //         width: 100%;
// //     //             .item {
// //     //                 width: 100px;
// //     //                 height: 100px;
// //     //                 background-position: center;
// //     //                 background-size: cover;
// //     //                 border-radius: 10%;
// //     //                 // border: 2px solid black;
// //     //             &.india {
// //     //                 transform: rotate(-15deg);
// //     //                 // transform: translate(-50%,-50%) rotate(10deg);
// //     //                 // @extend %album;
// //     //             }
// //     //             &.nepal {
// //     //                 justify-self: start;
// //     //                 transform: rotate(15deg);
// //     //                 // transform: translate(-50%,-50%) rotate(-10deg);
// //     //                 // @extend %album;
// //     //             }
// //     //             &.hanoi {
// //     //                 transform: rotate(-15deg);
// //     //                 // background-image: url("../resources/c.jpg");
// //     //                 // transform: translate(-50%,-50%) rotate(-90deg);
// //     //                 // @extend %album;
// //     //                 // @extend %pin;
// //     //             }
// //     //             &.linh {
// //     //                 // transform: translate(-50%,-50%) rotate(-90deg);
// //     //                 // @extend %album;
// //     //                 // background-image: url("../resources/nepal.jpg");
// //     //                 justify-self: start;
// //     //                 transform: rotate(15deg);
// //     //                 // transform: translate(-50%,-50%) rotate(10deg);
// //     //                 // @extend %album;
// //     //                 // @extend %pin;
// //     //             }
// //     //             &:hover {
// //     //                 transform: rotate(0deg);
// //     //             }
// //     //         }
// //     //     }
// //     // }
// //     // #experience {
// //     //     // @extend %page;
// //     //     background: $purple;
// //     //         .experience-container {
// //     //             background: $cream;
// //     //             padding: 50px;
// //     //         .timeline {
// //     //         @extend %center;
// //     //             .timeline-item {
// //     //                 margin: 20px;
// //     //                 text-align: center;
// //     //             }
// //     //         }
// //     //     }
// //     // }

//     #projects {
//         // @extend %page;
//         // background-color: $cream;
//         // position: relative;
//         // top: -20vh;
//             .mywork-container {
//                 background-color: white;
//         .projects {
//             border: 1px solid black;
//             // @extend %center;
//             display: grid;
//             grid-template-columns: 1fr;
//             grid-gap: 20px;
//             justify-items: center;
//                     .project-item {
//                         background-color: orange;
//                         height: 150px;
//                         width: 150px;
//                     }
//                 }
//             }
//         }
// // //         // footer {
// // //         //     position: absolute;
// // //         //     bottom: 20px;
// // //         //     left: 50%;
// // //         //     transform: translatex(-50%);
// // //         // }
// // //     }
// // // }
// // .icons {
// //     height: 30px;
// //     width: 30px;
// // }
// // // .tech {
// // //     display: flex;
// // //     width: 100%;
// // //     justify-content: center;
// // // }
// // /*# sourceMappingURL=style.scss.map */

// //start again
@import url("https://fonts.googleapis.com/css?family=Nunito:300");

//global variables
$grey: #bdc3c7;
$black: black;
$white: white;
$cream: #F6EDE9;
$padding: 30px;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
$background: linear-gradient(to bottom, $white 0%, $white 50%, $grey 50%, $grey 100%);
$margin-top: 29px;

//general classes
%center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
* {
    color: $black;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
    text-decoration: none;
    list-style: none;
}
.icon {
    width: 20px;
    height: 20px;
}
.icon-small {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
}
.dp {
    height: 150px;
    width: 150px;
}
// loader
.loader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            width: 100px;
        }
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// nav
nav {
    display: flex;
    justify-content: center;
    z-index: 98;
    position: fixed;
    width: 100%;
    height: 58px;
    background-color: $white;
    box-shadow: 0 3px 2px -2px $grey;
    li {
        padding: 20px; 
    }
}


//effects
a:visited {
    color: $black;
}
a:hover {
    color: $grey;
}

//pages

//home
#home {
    height: 100vh;
    background-color: $grey;
    padding: $padding;
    .home-container {
        margin-top: $margin-top;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding: $padding;
        text-align: center;
        @extend %center;
        box-shadow: $shadow;
        .social {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li:hover {
                background-color: $grey;
            }
        }
    }
}
//work 
#work {
    position: relative;
    background-image: $background;
    height: 100vh;
    text-align: center;
    .work-container {
        margin-top: $margin-top;
        @extend %center;
        .mywork {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            .project {
                margin-top: 20px;
                height: 130px;
                width: 130px;
                border: 1px solid black;
                box-shadow: $shadow;
                &.a {
                    transform: rotate(-10deg);
                }
                &.b {
                    transform: rotate(10deg);
                }
            }
        }
    }
        .languages {
            h3 {
                padding-top: 20px;
            }
            .languages-icons {
                display: flex;
                justify-content: space-between;
                width: 50%;
                position: relative;
                left: 50%;
                transform: translatex(-50%);
            }
        }
    }

//me 
#me {
    background-image: $background;
    text-align: center;
    height: 100vh;
    position: relative;
        .me-container {
            margin-top: $margin-top;
            @extend %center;
            .album {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                position: relative;
                .album-item {
                    width: 130px;
                    height: 130px;
                    border: 2px solid $grey;
                }
                .b {
                    border-right: 1px solid $grey;
                }
                .b:hover {
                    z-index: 99;
                    border: 2px solid gold;
                }
                .b:hover::after {
                    content: 'hello';
                    background-color: white;
                }
                .c {
                    border-left: 1px solid $grey;
                }
                .c:hover{
                    z-index: 99;
                    border: 2px solid gold;
                }
                .linh {
                    position: absolute;
                    top: 15px;
                    .a {
                        width: 100px;
                        height: 100px;
                        border: 2px solid $grey;
                    }
                }
            }
        } 
            .interests {
                display: flex;
                justify-content: space-between;
                width: 50%;
                position: relative;
                left: 50%;
                transform: translatex(-50%);
                margin-bottom: 20px;
            }
            .footer {
                font-size: 50%
            }
            .footer a:hover {
                color: white;
            }
        }

//media queries
@media only screen and (min-width: 768px) {
    // $padding: 100px 100px;
    #home .home-container {
        padding: $padding;
    }
    #work .work-container {
        padding: $padding;
    }
    #me .me-container {
        padding: $padding;
    }
    .dp {
        height: 250px;
        width: 250px;
    }
    h1, h2 {
        letter-spacing: 1mm;
    }
    nav li {
        padding: 20px 40px;  
    }
    #work .work-container .bio .mywork .project {
        height: 260px;
        width: 260px;
    }
    #me .me-container {
        .album { 
            .album-item {
                height: 250px;
                width: 250px;
            }
            .linh {
                // top: 25px;
                .a {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

