@import url('https://fonts.googleapis.com/css?family=Nunito:300');

//global variables
$grey: #bdc3c7;
$black: black;
$white: white;
$cream: #F6EDE9;
$lavendar: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
$background: linear-gradient(to bottom, $white 0%, $white 50%, $grey 50%, $grey 100%);


  //arrow
  .arrow {
    color: $white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
    background: url("../resources/up.svg");
    height: 15px;
    width: 15px;
}
.down {
    background: url("../resources/down.svg"); 
}
.up {
    background: url("../resources/up.svg"); 
}

//general classes
%center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
* {
    color: $black;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
    text-decoration: none;
    list-style: none;
    // line-height: 1;
}
h1, h2, h3, h4 {
    letter-spacing: 2px;
}
#me, #contact, #footer, #home, #navbar > li > a {
    line-height: 2;
}
.icon {
    width: 25px;
    height: 25px;
}
.icon-small {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
}
.dp {
    height: 150px;
    width: 150px;
}

// loader
.loader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
        img {
            width: 100px;
        }
}
.loader.hidden {
    animation: fadeOut 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// nav
#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: $white;
    box-shadow: 0 3px 2px -2px $grey;
    transition: top 0.3s;
    li {
        padding: 25px; 
        line-height: 1;
        a:hover {
            color: $lavendar;
        }
    }
}

//pages
//home
#home { 
    background-color: $white;
    background-image: linear-gradient(to bottom, $grey 0%, #eef1f5 100%);
    .home-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .dp {
            border-radius: 50%;
            border: 2px solid $white;
        }
        .social {
            display: grid;
            grid-template-columns: 1fr 1fr;
            line-height: 1;
        }
        .social li:hover {
            background-color: $white;
        }
    }
}

.album-item {
    margin: 10px;
    border-radius: 4mm;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    border: 2px solid $white;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}
.album {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.one {
    background-image: url("../resources/nepal3.jpg");
}
.two {
    background-image: url("../resources/india.jpg");
}
.three {
    background-image: url("../resources/hanoi.jpg");
}

//work 
#me {
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
    text-align: center;
    height: 100vh;
    position: relative;
        }
#projects {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
    position: relative;
        }
#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    background: $background;
    background: linear-gradient(to bottom, $white 0%, $white 50%, $overcast 50%, $grey 100%);
    position: relative;
    div {
            padding: 5px;
    }
}
.interests {
    display: flex;
    width: 80vw;
    justify-content: space-around;
}
.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-item {
    width: 200px;
    border-radius: 35px;
}

.languages {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
  //email hover cursor
  #email:hover {
    cursor: copy;
  }
  #footer {
      margin-top: 150px;
  }

  //media queries
  @media only screen and (min-width: 768px) {
    .dp {
        height: 200px;
        width: 200px;
    }
    .album {
        margin-top: 160px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-around;
        width: 60vw;
    }
    .album-item {
        margin: 20px;
        height: 150px;
        width: 150px;
    }
    .languages {
        width: 60vw;
    }
}